<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

		<add key="Number of Program" value="1" />

		<!--Email server details-->
		<add key="SmtpHost" value="" />
		<add key="SmtpUserId" value="" />
		<add key="SmtpPassword" value="" />
		<add key="EnableSSL" value="N" />
		<add key="SmtpPort" value="25" />

		<!--Email Settings-->
		<add key="FromMail" value="" />
		<add key="ToMail" value="ramkumar.r@changepond.com" />
		<add key="MailBody" value="Please find the attached html report for details." />
		<add key="MailSubject" value="Automation Test Report" />

		<!--Environment URL-->
		<add key="URL" value="https://statnav-sandbox-webapp.azurewebsites.net/" />

		<!--The sheet names used for validation in test data sheets-->
		<add key="Sheetname" value="sheet" />


		<!--The location of the deployment-->
		<add key="DeploymentLocation" value="" />
		<add key="TestDataLocation" value="" />

		<!--Reports location-->
		<add key="ReportsPath" value="C:\\Users\\ramkumar.r\\Desktop\\World Vision\\" />
    <!-- Log in credintials-->
		
		<add key="Password" value="Password71" />
		<add key="LoginName" value="ramkumar.rajendran@worldvision.org.uk" />


	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.12.0.0" newVersion="3.12.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>